@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  display: grid;
  place-content: center;
  height: 100vh;
}

.controlPanel {
  margin: 30px;
  width: 300px;
}

.clockPanel .title {
  font-size: 50px;
  margin: 0;
}

.controlPanel .controlBtn .btn {
  font-size: 15px;
  color: #fff;
  margin: 15px;
  padding: 10px;
  outline: none;
  box-shadow: none;
  display: grid;
  place-content: center;
  border: none;
}
.clockPanel .controlBtn2 .btn {
  font-size: 35px;
  color: #fff;
  margin: 10px 25px;
  padding: 15px;
  outline: none;
  box-shadow: none;
  display: grid;
  place-content: center;
  border: none;
}
.controlPanel .controlBtn .btn:active,
.clockPanel .controlBtn2 .btn:active {
  transform: scale(0.98);
  opacity: 0.7;
}

.controlPanel .controlBtn .time {
  padding: 0 10px;
  font-size: 50px;
  margin: 0 10px;
  width: 80px;
}

.clockPanel .time {
  font-size: 100px;
  margin: 10px;
}
